*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body{
    background: linear-gradient(180deg, rgba(0,0,0,1)0%, rgba(40,40,43,1) 100%);

}

.container{
    margin: 30px 0 15px;
}

.faro {
    width: 340px;
    margin: auto;
}
.botao{
    width: 70px;
    height: 50px;
}

.btn{
    margin-top: 22px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1000px;
    text-align: center;
    gap: 10px;
}

p {
    margin: 5px 0;
    color: aliceblue;
}

.btn>div {
    cursor: pointer;
}